header {
    background-color: #bbbbbb;
    padding: 20px 0 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto 0 auto;
}

nav {
    position: absolute;
    top: 120px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: yellow;
}


